In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-05-08 01:52:34,19.7297,-155.0900,85.28,83,100,12.66
1,1,Tuktoyaktuk,CA,2022-05-08 01:56:56,69.4541,-133.0374,35.60,80,20,14.97
2,2,Tari,NG,2022-05-08 01:56:57,12.4086,4.4914,89.65,43,89,13.47
3,3,Bluff,NZ,2022-05-08 01:56:57,-46.6000,168.3333,58.80,92,100,5.26
4,4,New Norfolk,AU,2022-05-08 01:56:58,-42.7826,147.0587,59.72,56,92,3.83

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))