## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,5,Rikitea,PF,76.30,clear sky,-23.1203,-134.9692,People ThankYou
1,8,Hirara,JP,78.17,light rain,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
2,15,Eirunepe,BR,87.55,overcast clouds,-6.6603,-69.8736,Atrás de você
3,19,Jalu,LY,80.02,clear sky,29.0331,21.5482,صاحبة الفخامة
4,21,Sambava,MG,76.82,clear sky,-14.2667,50.1667,Melrose

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig9 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig9.add_layer(marker_layer)
# 4b. Display the figure

fig9

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Alta Floresta')]
vacation_end = vacation_df.loc[(vacation_df['City']=='Alta Floresta')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Porto Nacional')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='Sao Geraldo Do Araguaia')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='Sao Felix Do Xingu')]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
208,606,Alta Floresta,BR,89.35,broken clouds,-9.8756,-56.0861,Floresta Amazonica Hotel

In [8]:
import numpy as np

In [70]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[{'Lat','Lng'}].to_numpy().tolist()
end = vacation_end[{'Lat','Lng'}].to_numpy().tolist()
stop1 = vacation_stop1[{'Lat','Lng'}].to_numpy().tolist()
stop2 = vacation_stop2[{'Lat','Lng'}].to_numpy().tolist()
stop3 = vacation_stop3[{'Lat','Lng'}].to_numpy().tolist()

In [100]:
stop1[0]

[-10.7081, -48.4172]

In [76]:
stop2[0]

[-6.4006, -48.555]

In [107]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets

fig10 = gmaps.figure()
wypnts = [stop1, stop2]
startstart = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0],stop2[0],stop3[0]] ,travel_mode='DRIVING')
fig10.add_layer(startstart)

In [108]:
fig10

Figure(layout=FigureLayout(height='420px'))

In [109]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,606,Alta Floresta,BR,89.35,broken clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
1,43,Porto Nacional,BR,89.60,overcast clouds,-10.7081,-48.4172,Vila Real Hotel
2,262,Sao Geraldo Do Araguaia,BR,86.14,broken clouds,-6.4006,-48.5550,Hotel Por do Sol
3,49,Sao Felix Do Xingu,BR,87.42,scattered clouds,-6.6447,-51.9950,Rio Xingu Camping

In [110]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [112]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig11 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig11.add_layer(marker_layer)
# 11b. Display the figure
fig11

Figure(layout=FigureLayout(height='420px'))